<p><%= link_to "Back to author", author_path(@author)  %></p>

<h1><%=@author.fname%></h1>

<p> <%= link_to "Add a Book", new_author_book_path(@author) %> </p>

<% @books.each do |book| %>
    
    <h3>
        <%= link_to book.title, author_book_path(@author,book) %>
    </h3>
    
<% end %>