<p><%= link_to "Back to Hospital", hospital_path(@hospital)  %></p>

<h1><%=@hospital.name%></h1>

<p> <%= link_to "Add a Patient", new_hospital_patient_path %> </p>
<ul>
<% @patients.each do |patient| %>
    
    <li>
        <%= link_to patient.first_name, hospital_patient_path(@hospital,patient) %>
        
    </li>
    
<% end %>
</ul>