<h1>YIPEEE</h1>

<p> <%= link_to "Add New Author", new_author_path %> </p>

<% @authors.each do |author| %>
    
    <h3>
        <%= link_to author.fname+" , "+author.location, author_path(author) %>
    </h3>
    
<% end %>